---
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

body {
  max-width: 80%;
  margin: auto;
  font-family: 'IBM Plex Serif', serif; 
}

h1 {
  text-align: center;
  padding: 10px;
}

h1 {
  font-size: 3em;
  font-family: 'Playfair Display';
}

h4 {
  text-align: center;
  font-size: 1em;
  font-family: 'Playfair Display';
}

h2 {
  font-style: italic;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#photo {
  max-width: 300px;
  border-radius: 50%;
}